body {
  background-color: white;
  color: black;
  margin-left: 20%;
  margin-right: 20%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: rgb(152, 152, 152);
}

h3 {
  color: blue;
}

h4 {
  color: green;
}

a {
  color: purple;
}

a:hover {
  color: grey;
}